html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*updates*/
.imno{
/*    width: 100px;*/
    height:90px;
}

.nav-wdth{
    height:90px;
}

.welcomeimg {
    
/*    background-image: url(../images/4.png);*/
    height:75vh;
    width:100%;
    background-color:aqua;
    background-size: cover;
    background-position: center center;
}
